html{
  margin:0;
  padding: 0; 
}
body {
  font-family: "Book Antiqua", "Palatino Linotype", Arial, Helvetica, serif;
  margin: 2em;
  padding: 0;
  font-size: 1.2em;
  color: #000000;
  background: repeating-linear-gradient(
    45deg,
    #4B0082,
    #4B0082 2em,
    #0000CD 2em,
    #0000CD 4em
  );
}

.main-content {
  min-height:100vh;
  background: white;
  padding: 1em;
}

.header {
  background-color: #0000FF;
  margin: 0 0 1em 0;
  text-align: center;
  padding: 0.05em;
}

p {
  margin: 0 3em 0 0;
}

a.button, input.button {
  border:1px solid black;
  padding:0.5em;
  margin:0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  background-color: white;
  color: black;
  box-shadow: 5px 5px 5px #999999;
}

a.button:hover {
  background-color: black;
  color: white;
}

input {
  padding: 0.5em;
  font-size:100%;
}

input.button {
  background-color: #D8BFD8;
  margin: 2em 0 0 0;
  font-family: "Book Antiqua", "Palatino Linotype", Arial, Helvetica, serif;
  font-size: 20px;
  font-weight: bold;
}

table {
  border: 20px double #4B0082;
  border-collapse: collapse;
  margin: 3em 0 3em 3em;
}

table td, table th {
  padding: 0.25em;
  border: 3px solid #4B0082;
  padding: 0.5rem;
}

.spacer {
  margin: 3em 0;
  text-align: center;
}

.racingimg {
  float: right;
  margin: 7em 8em 0 0;
  border: groove 15px #DCDCDC;
}

.buggyimg {
  float: right;
  margin: 7em 7em 5em 5em;
  border: ridge 15px #FAEBD7;
}

form {
   margin: 3em 0 3em 3em;
}

.button {
  margin: 0 0 0 2.5em;
}