{% extends "base.html" %}

{% block content %}

  <div class="header">
   <h1>Buggy</h1>
  </div>

  <div class="buggyimg">
   <img src="../static/buggy.png" width="550" height="300" alt="Picture of buggy">
  </div>

  <table>
   <tr>
     <td>ID:</td> <td> {{ buggy['id'] }} </td>
   </tr>
   <tr>
     <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
   </tr>
   <tr>
    <td>Flag Colour:</td> <td> {{ buggy['flag_color'] }} </td>
   </tr>
   <tr>
    <td>Secondary Colour of the Flag:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
   </tr>
   <tr>
    <td>Flag Pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
   </tr>
  </table>

  <div class="button">
   <a href="/" class="button">Home</a>
  </div>

{% endblock %}
