<!doctype html>

{% extends "base.html" %}

{% block content %}

  <div class="header">
   <h1>Make Buggy</h1>
  </div>

  <p>
    {{ msg }}
  </p>

  <div class="racingimg">
   <img src="../static/racing.png" width="450" height="250" alt="Picture of racing flags">
  </div>

  <form action="/new" method="post">
    <label for="qty_wheels">Number of Wheels:</label>
    <input type="text" name="qty_wheels" value="{{ buggy['qty_wheels'] }}" style="margin: 0 0 0 0.5em; font-family: Book Antiqua, Palatino Linotype, Arial, Helvetica, serif;" /><br>

    <label for="flag_color">Flag's Colour:</label>
    <input type="text" name="flag_color" value="{{ buggy['flag_color'] }}" style="margin: 1em 0 0 3em; font-family: Book Antiqua, Palatino Linotype, Arial, Helvetica, serif;" /><br>

    <label for="flag_color_secondary">Flag's Other Colour:</label>
    <input type="text" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}" style="margin: 1em 0 0 0.25em; font-family: Book Antiqua, Palatino Linotype, Arial, Helvetica, serif;" /><br>

    <label for="flag_pattern">Flag's Pattern:</label>
    <select name="flag_pattern" style="margin: 1.5em 0 0 3.25em; font-size: 18px; font-family: Book Antiqua, Palatino Linotype, Arial, Helvetica, serif;">
     <option value="plain">Plain</option>
     <option value="vstripe">VStripe</option>
     <option value="hstripe">HStripe</option>
     <option value="dstripe">DStripe</option>
     <option value="checker">Checker</option>
     <option value="spot">Spot</option>
    </select><br>

    <input type="submit" class="button">
  </form>

  <div class="button">
   <a href="/" class="button">Home</a>
  </div>
{% endblock %}
