<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <form action="/new" method="post">
    <label for="qty_wheels">Number of Wheels:</label>
    <input type="text" name="qty_wheels" /><br>

    <label for="flag_color">Colour of Flag:</label>
    <select name="flag_color">
     <option value="red">Red</option>
     <option value="orange">Orange</option>
     <option value="yellow">Yellow</option>
     <option value="green">Green</option>
     <option value="blue">Blue</option>
     <option value="indigo">Indigo</option>
     <option value="violet">Violet</option>
    </select><br>

    <label for="flag_color_secondary">Secondary Colour of Flag:</label>
    <select name="flag_color_secondary">
     <option value="red">Red</option>
     <option value="orange">Orange</option>
     <option value="yellow">Yellow</option>
     <option value="green">Green</option>
     <option value="blue">Blue</option>
     <option value="indigo">Indigo</option>
     <option value="violet">Violet</option>
    </select><br>

    <p>Please select a pattern for your flag:</p>
    <input type="radio" name="flag_pattern" value="checkered">
    <label for="checkered">Checkered</label><br>
    <input type="radio" name="flag_pattern" value="chevron">
    <label for="chevron">Chevron</label><br>
    <input type="radio" name="flag_pattern" value="harlequin">
    <label for="harlequin">Harlequin</label><br>
    <input type="radio" name="flag_pattern" value="polka_dot">
    <label for="polka_dot">Polka Dot</label><br>
    <input type="radio" name="flag_pattern" value="stripes">
    <label for="stripes">Stripes</label><br>

    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
